# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Application specific
*.mp4
*.mp3
*.txt
!requirements.txt
downloads/

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage.xml
.mypy_cache/
.ruff_cache/

downloads/

.DS_Store
